:host {
    font-size: 0.6rem;
    --font-color: var(--pure-white);
}


footer {
    background-color: var(--black);
    width: 100%;
    color: var(--font-color);
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 1em 4ch;
    flex-wrap: wrap;
    padding: 1em;
}

.flex-container a {
    padding: 0.1em;
    font-size: 1.5em;
    font-style: normal;
    text-decoration: unset;
    /* border: 1px solid var(--font-color); */
    /* transition: var(--hover-transition); */
}

.flex-container > div > div {
    transition: var(--hover-transition);
}
.flex-container > div:hover > div {
    text-decoration: underline 0.15em;
    /* font-weight: bold; */
    /* font-size: 1.3rem; */
    transition: var(--hover-transition);
    transform: translateY(-0.3em);
    transform: translateY(-0.3em);
}

.flex-container a, .flex-container a:visited {
    color: var(--font-color);
}

.copyright {
    color: grey;
    padding: 0.4em;
}

.copyright a {
    text-decoration: inherit;
    color: inherit;
}
.copyright a:visited {
    color: inherit;
}

.masked.masked.masked {
    color: var(--black);
}