:host {
    position: absolute;
    right: 0;
    
    top: 50%;
    transform: translateY(-50%);
    
    font-size: 0.8em;
    
    pointer-events: none;
    
    z-index: 2;
    
    width: 100%;
    
    --glitch-shadow: 
        drop-shadow(1px 1px 0 rgb(255, 0, 255))
        drop-shadow(-1px -1px 0 rgb(0, 255, 255))
    ;
}

#right-pannel {
    padding: 1ch;
}

#filters {
    width: fit-content;
    margin-left: auto;
    margin-right: 3ch;
    padding-bottom: 0.9em;
    
    display: flex;
    gap: 1.5ch;
}

/* button is specifyed to increase specificity (.rounded-frame would take over) */
button.filter {
    pointer-events: all;
    padding: 0.8ch;
    
    background-color: var(--pure-white);
    border-color: var(--light-grey);
    color: var(--grey-dark);
}
button.filter.enabled {
    background-color: var(--base);
    border-color: var(--base-dark);
    color: var(--base-dark);
}
button.filter.enabled.reverse {
    background-color: var(--secondary);
    border-color: var(--secondary-dark);
    color: var(--secondary-dark);
}
.arrow {
    font-family: Consolas, monaco, monospace;
}

#list-container {
    display: flex;
    flex-flow: row-reverse;
}
#scroll-bar {
    width: 1ch;
    border-radius: 0.5ch;
    background-color: var(--pure-white);
    pointer-events: auto;
    /* Let retrieve cursor position */
    position: relative;
    
    margin-left: 1ch;
}
#scroll-bar.unnecessary-scroll {
    display: none;
}
#scroll-bar.disabled {
    display: none;
}

#scroll-cursor {
    position: relative;
    border-radius: inherit;
    background-color: var(--light-grey);
}
#scroll-cursor:hover {
    background-color: var(--shaded-light-grey);
}
#easter-eggs-list {
    height: fit-content;
    max-height: 25em;
    overflow: hidden scroll;
    
    height: 100%;
    width: 100%;
}
#easter-eggs-list .scroll-height-observer {
    height: 100%;
    width: 100%;
    
    flex-grow: 1;
    
    display: flex;
    flex-flow: column;
    /* flex-direction: column-reverse; */
    gap: 0.9em;
    align-items: end;
    
    /* overflow-x: visible; */
    /* padding-right: 2ch; */
}

/* Disable scroll bars */
.no-scroll-bar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
#easter-eggs-list.no-scroll-bar::-webkit-scrollbar {
    display: none;
}


/* Prevent clipping from last easter egg's shadow */
#easter-eggs-list .scroll-height-observer::after {
    content: "";
    order: 10000;
}
/* Prevent clipping from first easter egg's tooltip */
#easter-eggs-list .scroll-height-observer::before {
    content: "";
}


/* Open button */
#open-pannel {
    --size: 2em;
    height: var(--size);
    width: var(--size);
    
    background-color: var(--base);
    border-color: var(--base-dark);
    color: var(--base-dark);
    
    padding: auto;
    
    pointer-events: all;
    
    /* Désactive le fait que le texte soit sélectionnable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    margin-left: auto;
    margin-right: 2ch;
    
    filter: var(--glitch-shadow);
    
    cursor: pointer;
}

#open-pannel img {
    --size: 75%;
    height: var(--size);
    width: var(--size);
    
    filter:
        hue-rotate(var(--base-color-hue))
        var(--glitch-shadow)
    ;
    
    margin: calc(50% - var(--size) / 2);
    
    rotate: 0deg;
    
    transition: rotate 0.4s ease-in-out;
}
.functionnal #open-pannel img {
    filter: hue-rotate(var(--base-color-hue));
}
#main-container.open img {
    rotate: calc(1 * 360deg + 180deg);
}

.functionnal #open-pannel {
    filter: none;
}
.functionnal #open-pannel:hover {
    filter: brightness(90%);
}

#right-pannel {
    transition: translate 0.4s ease-in-out;
    translate: 100%;
}
.open #right-pannel {
    translate: 0%;
}
.bourrin.bourrin #right-pannel {
    translate: -100%;
}


/* Show or hide EE */
easter-egg[_hidden="true"] {
	display: none;
}
easter-egg[_hidden="true"][unlocked="true"] {
	display: unset;
}
easter-egg[implemented="false"],
easter-egg[_hidden="true"][unlocked="true"][implemented="false"] { /* On n'est pas sensés pouvoir débloquer un EE non implémenté, mais on ne sait jamais */
	display: none;
}