@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Marko+One&display=swap');

:root {
    --base_color_hue: 137deg; 
    /* --secondary_color_hue: calc(var(--base_color_hue) + 180deg); */
    --secondary_color_hue: 0deg;
    
    --base-light: hsl(var(--base_color_hue) 100% 96%);
    --base: hsl(var(--base_color_hue) 100% 83%);
    --base-dark: hsl(var(--base_color_hue) 62% 41%);
    
    --secondary-light: hsl(var(--secondary_color_hue) 100% 96%);
    --secondary: hsl(var(--secondary_color_hue) 100% 83%);
    --secondary-dark: hsl(var(--secondary_color_hue) 90% 69%);
    
    --grey: #ADADAD;
    
    --basic-border-width: 0.2ch;
    --basic-border-color: var(--grey);
}

body {
    margin: 0;
    background-color: var(--secondary-light);
    /* font: Comfortaa; */
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

body * {
    font-family: inherit;
    font-weight: inherit;
}

.rounded-frame {
    border: var(--basic-border-width) solid var(--basic-border-color);
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}