@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Marko+One&display=swap');

:root {
    --base-color-hue: 137deg; 
    /* --secondary-color-hue: calc(var(--base-color-hue) + 180deg); */
    --secondary-color-hue: 0deg;
    
    --base-light: hsl(var(--base-color-hue) 100% 96%);
    --base: hsl(var(--base-color-hue) 100% 83%);
    --base-dark: hsl(var(--base-color-hue) 62% 41%);
    
    --secondary-light: hsl(var(--secondary-color-hue) 100% 96%);
    --secondary: hsl(var(--secondary-color-hue) 100% 83%);
    --secondary-dark: hsl(var(--secondary-color-hue) 90% 69%);
    
    --pure-white: white;
    --light-grey: #ddd;
    --shaded-light-grey: #ccc;
    --grey: #ADADAD;
    
    --black: black;
    
    --basic-border-width: 0.2ch;
    --basic-border-color: var(--grey);
    --basic-radius: 16px;
    
    
    --hover-transition: all 0.2s ease-out 0.1s;
}

/* Disable horizontal scrolling */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: var(--secondary-light);
    /* font: Comfortaa; */
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

body * {
    font-family: inherit;
    font-weight: inherit;
}

.rounded-frame {
    border: var(--basic-border-width) solid var(--basic-border-color);
    border-radius: var(--basic-radius);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Push footer down */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

main {
    flex-grow: 1;
}

/* Stick topbar to the top */
common-topbar {
    position: sticky;
    top: 0;
    z-index: 1;
}